In [7]:
# URL to AC survey data
acs_url <- "http://s3.amazonaws.com/assets.datacamp.com/production/course_835/datasets/ac_survey.RData"

# Import data in .RData file at acs_url
load(url(acs_url))

# Print head of ac_survey
head(ac_survey, n = 20)

    SCHL ESR  PINCP
 1:    3  NA     NA
 2:   21   1  25000
 3:    1  NA     NA
 4:   21   1  20000
 5:   21   1  50000
 6:   24   6    600
 7:   17   1 327000
 8:    4  NA     NA
 9:   18   1  12000
10:   19   1  65000
11:   21   1  85000
12:   16   6   8200
13:   21   6   3600
14:   22   6  26200
15:   19   1  45000
16:   19   1  32000
17:   11  NA     NA
18:   18   6      0
19:   15   6   8400
20:    8  NA     NA

In [ ]:
library(dplyr)

# data frame that translates SCHL to Degree
degree_codes <- data.frame(SCHL = c(21, 22, 24), Degree = c("Bachelor", "Masters", "Doctorate"))

# Add code to remove NAs, filter and join
ac_survey_clean <- ac_survey %>% 
tbl_df() %>%
na.omit() %>%
filter(SCHL %in% c(21,22,24)) %>%
inner_join(degree_codes)
    
# Print out ac_survey_clean  
head(ac_survey_clean)