## Welch's two sample t-test

http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [1]:
from __future__ import division
import numpy
import pandas
import math
import scipy.stats

def t_and_v(N1, mu1, var1, N2, mu2, var2):
    t = (mu1 - mu2) / (var1/N1 + var2/N2)**0.5
    v = (var1/N1 + var2/N2)**2 / ( (var1**2/(N1**2 * (N1-1))) + (var2**2/(N2**2 * (N2-1))) )
    print "this is t", t
    print "this is v", v

print t_and_v(150, 0.299, 0.05, 165, 0.307, 0.08)

this is t -0.279682359512
this is v 307.198799752
None

`scipy.stats.ttest_ind(a,b,axis = 0, equal_var= True)`


    Calculates the T-test for the means of TWO INDEPENDENT samples of scores.This is a two-sided test for the null hypothesis that 2 independent samples have identical average (expected) values. This test assumes that the populations have identical variances.

In [6]:
def compare_averages():
    """
    Performs a t-test on two sets of baseball data (left-, right- handed)
    """
    
    #Load data and separate them into the two relevant-for-this-test groups
    baseball_data = pandas.read_csv("data/lesson_3/t-test/baseball_data.csv")
    
    b_data_left = baseball_data[baseball_data["handedness"] == "L"]
    b_data_right = baseball_data[baseball_data["handedness"] == "R"]
    
    # Perform the test
    
    result = scipy.stats.ttest_ind(b_data_left["avg"], b_data_right["avg"],
                                  equal_var = False)
    
    if result[1] <= .05:
        return (False, result)
    else:
        return (True, result)
    
if __name__ == "__main__":
    result = compare_averages()
    print result

(False, Ttest_indResult(statistic=3.9867064465971302, pvalue=7.482391590970722e-05))

In [4]:
bd = pandas.read_csv("data/lesson_3/t-test/baseball_data.csv")
bd.head()

             name handedness  height  weight    avg   HR
0       Tom Brown          R      73     170  0.000    0
1  Denny Lemaster          R      73     182  0.130    4
2       Joe Nolan          L      71     175  0.263   27
3     Denny Doyle          L      69     175  0.250   16
4   Jose Cardenal          R      70     150  0.275  138